.title, .title-create-employee, .employee-link, .home-link{
    text-align: center;
    display: block;
}
.title-employee{
    margin: 6em;
}
form{
    display: flex;
    flex-direction: column;
    width: 20%;
}
label{
    margin-top: 1em;
}
fieldset{
    margin-top: 0.5em;
    padding: 1em;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
}
fieldset legend{
    width: 70%;
    padding-left: 10%;
}
p{
    margin-bottom: 0;
}
.btn-create{
    border-radius: 5px;
    margin: 1em auto;
    border: 0;
    padding: 1em 2em;
    background-color:#44c970 ;
    color: white;
}
.search-bar{
    text-align: right;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgb(214, 224, 253);
}
.form-employee{
    margin: auto;
}
.ant-table-thead > tr > th{
    background: rgb(188, 223, 247);
}
.ant-table-tbody{
    background: rgb(248, 247, 247);
}
.text-field{
    border:0;
    border-bottom: 1px solid rgb(208, 206, 206);
}
.selector{
    border:0;
    background-color: #b3eeee;
    padding: .7em;
    border-radius: 5px;
}